DepositoApp/Varios/monitor.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webService.monitor.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSInformeAuditoriaBeanService" targetNamespace="http://webService.monitor.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.monitor.com/" elementFormDefault="unqualified" targetNamespace="http://webService.monitor.com/" version="1.0">

  <xs:element name="agregarInforme" type="tns:agregarInforme"></xs:element>

  <xs:element name="agregarInformeResponse" type="tns:agregarInformeResponse"></xs:element>

  <xs:element name="log" type="tns:logDTO"></xs:element>

  <xs:complexType name="agregarInforme">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:logDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="idModulo" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarInformeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="agregarInforme">
    <wsdl:part element="tns:agregarInforme" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarInformeResponse">
    <wsdl:part element="tns:agregarInformeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSInformeAuditoriaBean">
    <wsdl:operation name="agregarInforme">
      <wsdl:input message="tns:agregarInforme" name="agregarInforme">
    </wsdl:input>
      <wsdl:output message="tns:agregarInformeResponse" name="agregarInformeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInformeAuditoriaBeanServiceSoapBinding" type="tns:WSInformeAuditoriaBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="agregarInforme">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="agregarInforme">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="agregarInformeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInformeAuditoriaBeanService">
    <wsdl:port binding="tns:WSInformeAuditoriaBeanServiceSoapBinding" name="WSInformeAuditoriaBeanPort">
      <soap:address location="http://localhost:8080/MonitoreoWEB/WSInformeAuditoriaBean"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>